* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.Fundo {
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-size: cover;
  position: relative;
}

.Fundo2 {
  width: 100vw;
  height: 100vh;
  background-color: #cacaca;
  background-size: cover;
  position: relative;
}

#Fundo {
  display: flex;
}
